/* playfair-display-regular - latin */
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../assets/fonts/playfair-display-v30-latin-regular.woff2") format("woff2"), url("../assets/fonts/playfair-display-v30-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* playfair-display-700 - latin */
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../assets/fonts/playfair-display-v30-latin-700.woff2") format("woff2"), url("../assets/fonts/playfair-display-v30-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../assets/fonts/open-sans-v34-latin-regular.woff2") format("woff2"), url("../assets/fonts/open-sans-v34-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../assets/fonts/open-sans-v34-latin-600.woff2") format("woff2"), url("../assets/fonts/open-sans-v34-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../assets/fonts/open-sans-v34-latin-700.woff2") format("woff2"), url("../assets/fonts/open-sans-v34-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-300 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../assets/fonts/roboto-v30-latin-300.woff2") format("woff2"), url("../assets/fonts/roboto-v30-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../assets/fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../assets/fonts/roboto-v30-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sana", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Playfair Display", serif;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1660px;
}

.site-header {
  margin: 0 auto;
  max-width: 1920px;
  height: 1080px;
  background-image: url(../../assets/img/hero-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.header {
  margin-bottom: 246px;
  max-width: 1660px;
  width: 100%;
  padding: 26px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.header .header__item a {
  color: white;
}
.header .header__logo {
  display: none;
  height: 27px;
  display: flex;
  gap: 20px;
}
.header .menu-bar,
.header .close-bar {
  display: none;
  z-index: 100;
}

.hero {
  max-width: 668px;
}
.hero h1 {
  margin-bottom: 54px;
  font-weight: 700;
  font-size: 64px;
  line-height: 85px;
  color: #07484a;
}
.hero p {
  margin-bottom: 54px;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #07484a;
}
.hero a {
  padding: 23.5px 54.5px;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #fdfbf8;
  background: #70908b;
  border-radius: 10px;
}

@media only screen and (max-width: 1580px) {
  .header {
    margin-bottom: 150px;
  }
}
@media only screen and (max-width: 1320px) {
  .header {
    margin-bottom: 100px;
  }
}
@media only screen and (max-width: 1140px) {
  .header {
    margin-bottom: 80px;
  }
  .hero h1 {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    color: #07484a;
  }
  .hero p {
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #07484a;
  }
}
@media only screen and (max-width: 1024px) {
  .site-header {
    background-image: url(../../assets//img/hero-bg-tablet.png);
  }
  .header .header__list {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #fff;
  }
  .header .top {
    position: absolute;
    top: -1000px;
  }
  .header .bottom {
    position: absolute;
    bottom: 0;
  }
  .close-bar {
    z-index: 1000;
  }
  .hero {
    max-width: 500px;
  }
  .menu-bar {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block !important;
  }
  .hide {
    display: none !important;
  }
  .show {
    display: block !important;
  }
}
@media only screen and (max-width: 970px) {
  .header {
    margin-bottom: 50px;
  }
}
.title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 85px;
  color: #07484a;
  text-align: center;
}

.category {
  padding: 100px 0;
}

.category__body {
  margin-top: 100px;
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 60px;
}

.category__search {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.category__search::before {
  content: "";
  position: absolute;
  left: 32px;
  width: 20px;
  height: 20px;
  background: url(../../assets/icons/category-search.svg) center/100% no-repeat;
  z-index: 1;
}

.category__search input {
  position: relative;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #6e757e;
  padding: 26px 32px;
  gap: 18px;
  width: 349px;
  padding-left: 62px;
  height: 75px;
  background: #f0f0f0;
  border-radius: 10px;
  border: none;
}
.category__search input::-moz-placeholder {
  color: inherit;
}
.category__search input:-ms-input-placeholder {
  color: inherit;
}
.category__search input::placeholder {
  color: inherit;
}

.category__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 25px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #07484a;
  margin: 80px 0;
  max-height: 690px;
  overflow-y: auto;
}
.category__list::-webkit-scrollbar {
  width: 10px;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 40%, rgb(7, 72, 74) 40%, rgb(7, 72, 74) 60%, rgb(255, 255, 255) 60%, rgb(255, 255, 255) 100%);
}
.category__list::-webkit-scrollbar-thumb {
  background: #70908b;
}

.category__item:not(:last-child) {
  margin-bottom: 80px;
}

.category__btn button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 32px 20px;
  gap: 18px;
  width: 265px;
  height: 89px;
  background: #70908b;
  border-radius: 10px;
  border: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}
.category__btn button::after {
  content: "";
  width: 23px;
  transition: all 0.4s;
  height: 20.43px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url(../../assets/icons/arrow-right-white.svg);
}
.category__btn button:hover::after {
  transform: translate(50%, 0);
}

.category__albums {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.category__card {
  width: 589px;
  height: 321px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.category__card-content {
  opacity: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  visibility: hidden;
  transition: all 0.3s;
  position: absolute;
  text-align: center;
  background: rgba(75, 75, 75, 0.25);
}

.category__card:hover .category__card-content {
  opacity: 1;
  visibility: visible;
}

.category__card-name {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  color: #fdfbf8;
  margin: 0;
  margin-bottom: 36px;
}

.category__card-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 20px;
  width: 150px;
  height: 53px;
  background: #e0eff6;
  border-radius: 6px;
  margin: 0 auto;
  border: none;
  transition: all 0.2s;
}
.category__card-btn:hover {
  transform: scale(1.1);
}/*# sourceMappingURL=main.css.map */