.category {
  padding: 100px 0;
}

.category__body {
  margin-top: 100px;
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 60px;
}
.category__search {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  label {
    position: relative;

    display: flex;
    align-items: center;
    &::before {
      content: "";
      position: absolute;
      left: 32px;
      width: 20px;
      height: 20px;
      background: url(../../assets/icons/category-search.svg) center / 100% no-repeat;
      z-index: 1;
    }
  }
}
.category__search input {
  position: relative;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #6e757e;
  padding: 26px 32px;
  gap: 18px;
  width: 349px;
  padding-left: 62px;
  height: 75px;
  background: #f0f0f0;
  border-radius: 10px;
  border: none;
  &::placeholder {
    color: inherit;
  }
}
.category__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 25px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #07484a;
  margin: 80px 0;
  max-height: 690px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 10px;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 40%,
      rgba(7, 72, 74, 1) 40%,
      rgba(7, 72, 74, 1) 60%,
      rgba(255, 255, 255, 1) 60%,
      rgba(255, 255, 255, 1) 100%
    );
  }
  &::-webkit-scrollbar-thumb {
    background: #70908b;
  }
}
.category__item {
  &:not(:last-child) {
    margin-bottom: 80px;
  }
}
.category__btn button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 32px 20px;
  gap: 18px;

  width: 265px;
  height: 89px;

  background: #70908b;
  border-radius: 10px;
  border: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  &::after {
    content: "";
    width: 23px;
    transition: all 0.4s;
    height: 20.43px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../../assets/icons/arrow-right-white.svg);
  }
  &:hover::after {
    transform: translate(+50%, 0);
  }
}
.category__albums {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.category__card {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.category__card-content {
  opacity: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  visibility: hidden;
  transition: all 0.3s;
  position: absolute;
  text-align: center;
  background: rgba(75, 75, 75, 0.25);
}
.category__card:hover .category__card-content {
  opacity: 1;
  visibility: visible;
}
.category__card-name {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  color: #fdfbf8;
  margin: 0;
  margin-bottom: 36px;
}
.category__card-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 20px;
  width: 150px;
  height: 53px;
  background: #e0eff6;
  border-radius: 6px;
  margin: 0 auto;
  border: none;
  transition: all 0.2s;
  &:hover {
    transform: scale(1.1);
  }
}
@media screen and (max-width: 1660px) {
  .category__card {
    width: 45%;
    img {
      width: 100%;
    }
  }
}
@media screen and (max-width: 1445px) {
  .category__body {
    flex-direction: column;
  }
  .category__list {
    max-height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin: 36px 0;
  }
  .category__item:hover {
    text-decoration: underline;
  }
  .category__btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .category__item {
    &:not(:last-child) {
      margin-bottom: 0px;
    }
  }
}
@media screen and (max-width: 980px) {
  .category__card-name {
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 32px;
  }
  .category__card-btn {
    width: 150px;
    height: 53px;
  }
  .category__albums {
    gap: 10px;
  }
}

@media screen and (max-width: 560px) {
  .category__card {
    height: 240px;
    width: 100%;
    img{
      height: 100%;
    }
  }
  .category__body{
    gap: 40px;
    margin-top: 24px;
  }
  .category__search input{
    max-width: 280px;
  }
  .category__list {
    gap: 4px;
  }
  .category__item {
    background: #f5f5f5;
    border-radius: 84px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 12px 6px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

    color: #000000;
  }
  .category__btn {
    display: none;
  }
}
@media screen and (max-width: 560px) {
.category__search{
}
}

body {
  overflow-x: hidden;
}
.products-section,
.header {
  display: none;
}
