.site-header {
  height: 100vh;
  background-image: url(../../assets/img/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  margin-bottom: 246px;
  max-width: 1660px;
  width: 100%;
  padding: 26px 0;
  @include flex(space-between);
  .header__list {
    @include center;
    gap: 20px;
  }
  .header__item a {
    color: white;
  }
  .header__logo {
    display: none;
    height: 27px;
    display: flex;
    gap: 20px;
  }
}
.hero {
  max-width: 668px;
  h1 {
    margin-bottom: 54px;
    font-weight: 700;
    font-size: 64px;
    line-height: 85px;
    color: #07484a;
  }
  p {
    margin-bottom: 54px;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #07484a;
  }
  a {
    padding: 23.5px 54.5px;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #fdfbf8;
    background: #70908b;
    border-radius: 10px;
  }
}
