.title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 85px;
  color: #07484a;
  text-align: center;
}

@media screen and (max-width: 1080px) {
  .title {
    font-size: 48px;
    line-height: 64px;
  }
}
@media screen and (max-width: 490px) {
  .title {
    font-size: 28px;
    line-height: 42px;
  }
}
